*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:30px;
    
}
.menu__bar{
    background-color: white;
    color:black;
    border-radius: 40px;
    padding:10px;
    margin:10px;
    width:50%;
    height:30px;
    border:solid black 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 24%;
}
.navbar__s3{
    display:flex;
}
.navbar__s3 p{
padding:10px;
gap:10px;
text-align: 50px;
font-size: 20px;
cursor:pointer;
}
.navbar__s4{
    padding-left: 10px;
    margin:1
}
.navbar__s5{
    background-color: black;
    color: white;
    padding:10px;
    margin:10px;
    border-radius: 20px;
    cursor: pointer;
}
.navbar__s1 img{
    width:30px;
    height:30px;
   margin-bottom: 10px;
}
.navbar__s1{
    display: flex;
    
    
}
.navbar__s1 h3{
    padding-top:5px;

}
.searchbar__s1{
    text-align:center;
     font-size:25px;
     font-style: bold;
     margin-top: 25px;
     

}

.searchbar__s2{
    display: flex;
    justify-content: center;
    cursor:pointer;
    font-size: 18px;
    font-style: bold;
    padding: 20px;
    
   
    
}
.hotel:hover,.think:hover,.restaurant:hover,.holiday:hover{
  
     border-bottom: 2px solid black;

}
.searchbar__s2 p{
padding: 10px;

}
.searchall{
    border-bottom: 2px solid black;

    
}

.menu__bar__search{
    background-color: rgb(18, 214, 139);
    color:black;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    
}
.menu__bar input{
border: none;

}

.image img{
width: 100%;


    
}
.image{
    background: linear-gradient(90deg,#d4dff7,#dcc8ff);
    position: relative;
    border-radius: 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
     height: 481px;
    
   
    
}
.image__s1{
    position:relative;
    bottom:400px;
    margin-left: 200px;
    color:rgb(3, 3, 57);
}
.image__s1 h1{
    
    width:300px;
    font-size: 300%;
    
}
.image__s1 p{
    font-weight: bold;
    width:430px;
    font-size: 150%;
    
}

.tag{
    background-color: white;
    margin: 9px;
    padding: 3px;
    border-radius: 5px;
    
}
.trip-ai{
    
    background-color:rgb(3, 3, 57);
    position:relative;
    bottom:300px;
    color: white;
    padding: 10px;
    border-radius: 19px;
    margin-left: 80px;
    width: 200px;
    
}
.saudi{
    display:flex;
    background-color:antiquewhite;
    margin-left:145px;
    margin-right:145px;
    margin-top: 50px;
    padding:10px;
}
.saudi img{
    width:90px;
    height:130px;
    margin:10px;
}
.saudi__s1__p{
    margin:10px;
    background-color:gainsboro;
    cursor:pointer;
    width:230px;
    padding:3px;
}

.trip__title{
    margin-left: 140px;
    padding: 10px;
    margin-top: 20px;
}
.trip__img{
    display: flex;
    width:100%;
    height:50%;
    cursor: pointer;
    align-items: center;
    border-radius: 20px;

}
.trip img{
    border:solid black 1px;
    border-radius: 10px;
    margin:10px;
}
.trip__s1






